// Import shared variables and mixins
@import "variables"; // Shared SCSS variables
@import "mixins"; // Shared SCSS mixins

// Banner styles
.banner {
  position: relative;
  height: 600px;
  background-image: url("../assets/bg-image-new-york.jpg");
  background-size: cover;
  background-position: center;

  // Banner overlay styles
  .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.5);
    flex-direction: column;

    // Banner content styles
    .banner__content {
      flex-direction: column;
      gap: 1.5rem;
      width: 90%;
      text-align: center;
      color: $white;

      // Banner logo styles
      .banner__logo svg {
        fill: $white;
      }

      // Banner title styles
      .banner__title {
        font-size: 1.4em;
        font-weight: 800;
        font-family: $title-family;

        @include breakpoint-up(tablet) {
          font-size: 2em;
        }

        @include breakpoint-up(desktop) {
          font-size: 2.5em;
        }
      }

      // Banner subtitle styles
      .banner__subtitle {
        font-size: 1em;
      }

      // Banner search form styles
      .banner__search-form {
        gap: 0.5rem;

        // Search input styles
        .banner__search-input {
          font-size: 0.8em;
          padding: 10px;
          width: 100%;
          border-radius: 3px;
          border: none;

          @include breakpoint-up(tablet) {
            width: 60%;
          }
        }

        // Search button styles
        .banner__search-button {
          gap: 0.25rem;
          padding: 10px 20px;
          background-color: $main-brand-color;
          color: $white;
          font-size: 0.8em;
          font-weight: 600;
          border-radius: 3px;
          border: none;
          transition: background-color 0.2s ease-in;
          cursor: pointer;

          // Hover and active states
          &:hover {
            background-color: darken($color: $main-brand-color, $amount: 5);
          }

          &:active {
            background-color: darken($color: $main-brand-color, $amount: 10);
          }
        }
      }

      // Popular searches styles
      .banner__popular-searches {
        gap: 0.625rem;
        font-size: 0.8em;

        // Popular searches title styles
        .banner__popular-title {
          font-family: $title-family;
          letter-spacing: 0.07em;
          font-size: 1em;
          display: none;

          @include breakpoint-up(desktop) {
            display: flex;
          }
        }

        // Popular searches list styles
        .banner__search-list {
          list-style: none;
          padding: 0;
          flex-wrap: wrap;
          gap: 0.5rem;

          // Popular search item styles
          .banner__search-item {
            display: inline-flex;
            gap: 0.25rem;
            font-weight: 600;
            background-color: rgba($color: $white, $alpha: 0.2);
            border-radius: 3px;
            padding: 5px 10px;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: background-color 0.2s ease-in;

            // Hover state
            &:hover {
              background-color: rgba($color: $white, $alpha: 0.3);
            }
          }
        }
      }
    }
  }
}
