.banner {
  position: relative;
  height: 600px;
  //   background-color: $main-brand-color;
  background-image: url(https://img.freepik.com/free-photo/midtown-manhattan-new-york-city-usa_181624-9030.jpg?w=1800&t=st=1701387111~exp=1701387711~hmac=4d618ee021d091698d91c7bf3341f8aa76dbd666c7e7fa6b993baa2cc64e9423);
  background-size: cover;
  background-position: center;

  .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .banner__content {
      text-align: center;
      color: $white;

      .banner__logo {
        font-size: 4em;
        font-weight: 1000;
        text-transform: uppercase;
        letter-spacing: 1.2;
        font-family: $title-family;
      }

      .banner__title {
        font-size: 2.5em;
        margin-top: 10px;
        font-weight: 800;
        font-family: $title-family;
      }

      .banner__subtitle {
        font-size: 1.2em;
        margin-top: 10px;
      }

      .banner__search-form {
        margin-top: 20px;

        .banner__search-input {
          padding: 10px;
          width: 80%;
        }

        .banner__search-button {
          padding: 10px 20px;
          background-color: $white;
          color: $black;
          border: none;
          cursor: pointer;
        }
      }

      .banner__popular-searches {
        font-size: 0.8em;
        gap: 0.625rem;
        margin-top: 20px;

        .banner__popular-title {
          font-size: 1.2em;
        }

        .banner__search-list {
          list-style: none;
          padding: 0;

          .banner__search-item {
            display: inline-block;
            font-weight: 600;
            background-color: rgba($color: $white, $alpha: 0.2);
            border-radius: 3px;
            padding: 5px 10px;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: background-color 0.2s ease-in;

            &:hover {
              background-color: rgba($color: $white, $alpha: 0.3);
            }
          }
        }
      }
    }
  }
}
