.banner {
  position: relative;
  height: 600px;
  //   background-color: $main-brand-color;
  background-image: url("../assets/bg-image-new-york.jpg");
  background-size: cover;
  background-position: center;

  .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .banner__content {
      text-align: center;
      color: $white;

      .banner__logo svg {
        fill: $white;
      }

      .banner__title {
        font-size: 2.5em;
        margin-top: 10px;
        font-weight: 800;
        font-family: $title-family;
      }

      .banner__subtitle {
        font-size: 1em;
        margin-top: 10px;
      }

      .banner__search-form {
        margin-top: 20px;

        .banner__search-input {
          padding: 10px;
          width: 80%;
        }

        .banner__search-button {
          padding: 10px 20px;
          background-color: $white;
          color: $black;
          border: none;
          cursor: pointer;
        }
      }

      .banner__popular-searches {
        font-size: 0.8em;
        gap: 0.625rem;
        margin-top: 20px;

        .banner__popular-title {
          font-family: $title-family;
          letter-spacing: 0.07em;
          font-size: 1em;
        }

        .banner__search-list {
          list-style: none;
          padding: 0;

          .banner__search-item {
            display: inline-flex;
            gap: 0.25rem;
            font-weight: 600;
            background-color: rgba($color: $white, $alpha: 0.2);
            border-radius: 3px;
            padding: 5px 10px;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: background-color 0.2s ease-in;

            &:hover {
              background-color: rgba($color: $white, $alpha: 0.3);
            }
          }
        }
      }
    }
  }
}
