// Import shared variables and mixins
@import "variables"; // Shared SCSS variables
@import "mixins"; // Shared SCSS mixins

// Apply box-sizing to all elements
* {
  box-sizing: border-box;
}

// Reset default margins and paddings for certain elements
html,
body,
div,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
button {
  margin: 0;
  padding: 0;
}

// Set base font family for the entire body
body {
  font-family: $base-family;
}

// Container styles
.container {
  min-width: 320px;
  max-width: 90%;
  margin: 0 auto;

  // Responsive container width using mixins
  @include breakpoint-up(tablet) {
    max-width: 80%;
  }

  @include breakpoint-up(desktop) {
    max-width: 1200px;
  }
}

// Flexbox utility styles
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
  &-column {
    flex-direction: column;
  }
}

// Styles for button to scroll to the top of the page
#scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  background-color: $main-brand-color;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;

  // Hover effect to darken the background color slightly
  &:hover {
    background-color: darken($color: $main-brand-color, $amount: 10);
  }
}
