// Fonts
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@400;500;600&display=swap");

$title-family: "Archivo", sans-serif;
$base-family: "Inter", sans-serif;

// Light shades
$light-shade: #d8d8d8; // ALTO

// Light accent
$light-accent: #feb602; // SELECTIVE YELLOW

// Main brand color
$main-brand-color: #336aea; // ROYAL BLUE

// Dark accent
$dark-accent: #22244e; // PORT GORE

// Dark shades
$dark-shade: #121212; // COD GRAY

// Additional colors
$white: #ffffff;
$black: #000000;
