@import "../../../node_modules/normalize-scss/sass/normalize";
@include normalize();

// Import global styles and variables first
@import "globals";
@import "variables";

// Import mixins
@import "mixins";

// Import specific components or sections
@import "banner";
@import "gallery";
@import "footer";
