/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@400;500;600;800&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  min-width: 320px;
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  background-color: #336aea;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
#scrollToTopBtn:hover {
  background-color: #164fd4;
}

.banner {
  position: relative;
  height: 600px;
  background-image: url("../assets/bg-image-new-york.jpg");
  background-size: cover;
  background-position: center;
}
.banner .banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
}
.banner .banner__overlay .banner__content {
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  text-align: center;
  color: #ffffff;
}
.banner .banner__overlay .banner__content .banner__logo svg {
  fill: #ffffff;
}
.banner .banner__overlay .banner__content .banner__title {
  font-size: 1.4em;
  font-weight: 800;
  font-family: "Archivo", sans-serif;
}
@media (min-width: 768px) {
  .banner .banner__overlay .banner__content .banner__title {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  .banner .banner__overlay .banner__content .banner__title {
    font-size: 2.5em;
  }
}
.banner .banner__overlay .banner__content .banner__subtitle {
  font-size: 1em;
}
.banner .banner__overlay .banner__content .banner__search-form {
  gap: 0.5rem;
}
.banner .banner__overlay .banner__content .banner__search-form .banner__search-input {
  font-size: 0.8em;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border: none;
}
@media (min-width: 768px) {
  .banner .banner__overlay .banner__content .banner__search-form .banner__search-input {
    width: 60%;
  }
}
.banner .banner__overlay .banner__content .banner__search-form .banner__search-button {
  gap: 0.25rem;
  padding: 10px 20px;
  background-color: #336aea;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.banner .banner__overlay .banner__content .banner__search-form .banner__search-button:hover {
  background-color: #1c59e8;
}
.banner .banner__overlay .banner__content .banner__search-form .banner__search-button:active {
  background-color: #164fd4;
}
.banner .banner__overlay .banner__content .banner__popular-searches {
  gap: 0.625rem;
  font-size: 0.8em;
}
.banner .banner__overlay .banner__content .banner__popular-searches .banner__popular-title {
  font-family: "Archivo", sans-serif;
  letter-spacing: 0.07em;
  font-size: 1em;
  display: none;
}
@media (min-width: 1200px) {
  .banner .banner__overlay .banner__content .banner__popular-searches .banner__popular-title {
    display: flex;
  }
}
.banner .banner__overlay .banner__content .banner__popular-searches .banner__search-list {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.banner .banner__overlay .banner__content .banner__popular-searches .banner__search-list .banner__search-item {
  display: inline-flex;
  gap: 0.25rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.banner .banner__overlay .banner__content .banner__popular-searches .banner__search-list .banner__search-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.gallery__results-text {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #777;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.gallery__results-text .gallery__search-query {
  color: #000000;
  font-weight: 700;
}
.gallery__total-hits {
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  color: #000000;
  font-size: 1em;
  font-weight: 600;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  border-bottom: 2px solid #000000;
}
.gallery__total-hits__count {
  color: #777;
  font-weight: 400;
}
.gallery__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .gallery__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery__container .gallery__item {
  flex-direction: column;
  background-color: #fff;
  border-bottom: 2px solid #000000;
}
@media (min-width: 768px) {
  .gallery__container .gallery__item {
    overflow: hidden;
    position: relative;
    border-bottom: none;
  }
}
.gallery__container .gallery__item .gallery__link {
  text-decoration: none;
  overflow: hidden;
}
@media (min-width: 768px) {
  .gallery__container .gallery__item .gallery__link {
    height: 300px;
  }
}
.gallery__container .gallery__item .gallery__link:hover {
  cursor: zoom-in;
}
.gallery__container .gallery__item .gallery__image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(5px);
  transition: filter 400ms;
  border-radius: 3px;
  transition: transform 0.2s ease-in;
}
.gallery__container .gallery__item .gallery__image.lazyloaded {
  filter: blur(0);
}
.gallery__container .gallery__item .gallery__info {
  padding: 2rem;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
@media (min-width: 768px) {
  .gallery__container .gallery__item .gallery__info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3411764706) 0, rgba(0, 0, 0, 0.338) 3.5%, rgba(0, 0, 0, 0.324) 7%, rgba(0, 0, 0, 0.306) 10.35%, rgba(0, 0, 0, 0.285) 13.85%, rgba(0, 0, 0, 0.262) 17.35%, rgba(0, 0, 0, 0.237) 20.85%, rgba(0, 0, 0, 0.213) 24.35%, rgba(0, 0, 0, 0.188) 27.85%, rgba(0, 0, 0, 0.165) 31.35%, rgba(0, 0, 0, 0.144) 34.85%, rgba(0, 0, 0, 0.126) 38.35%, rgba(0, 0, 0, 0.112) 41.85%, rgba(0, 0, 0, 0.103) 45.35%, rgba(0, 0, 0, 0.1019607843) 48.85%, rgba(0, 0, 0, 0.103) 52.35%, rgba(0, 0, 0, 0.112) 55.85%, rgba(0, 0, 0, 0.126) 59.35%, rgba(0, 0, 0, 0.144) 62.85%, rgba(0, 0, 0, 0.165) 66.35%, rgba(0, 0, 0, 0.188) 69.85%, rgba(0, 0, 0, 0.213) 73.35%, rgba(0, 0, 0, 0.237) 76.85%, rgba(0, 0, 0, 0.262) 80.35%, rgba(0, 0, 0, 0.285) 83.85%, rgba(0, 0, 0, 0.306) 87.35%, rgba(0, 0, 0, 0.324) 90.85%, rgba(0, 0, 0, 0.338) 94.35%, rgba(0, 0, 0, 0.347) 97.85%, rgba(0, 0, 0, 0.3490196078));
    opacity: 0;
  }
  .gallery__container .gallery__item .gallery__info:hover {
    opacity: 1;
  }
}
.gallery__container .gallery__item .gallery__info .gallery__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  font-size: 1em;
  color: #000000;
}
@media (min-width: 768px) {
  .gallery__container .gallery__item .gallery__info .gallery__stat {
    color: #ffffff;
  }
}
.gallery__load-more-btn {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #336aea;
  transition: background-color 0.2s ease-in;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.gallery__load-more-btn:hover {
  background-color: #1c59e8;
}
.gallery__load-more-btn:active {
  background-color: #164fd4;
}

.footer {
  background-color: #121212;
  color: #d8d8d8;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}
.footer .footer__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer .footer__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .footer .footer__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .footer .footer__content > :nth-child(3) {
    grid-column: span 2;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .footer .footer__content > :nth-child(3) {
    grid-column: auto;
  }
}
.footer .footer__content .footer__logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #336aea;
}
.footer .footer__content .footer__description {
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
}
.footer .footer__content .footer__copyright {
  font-size: 0.8em;
  margin-top: 10px;
}/*# sourceMappingURL=styles.css.map */