@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

.banner {
  position: relative;
  height: 600px;
  background-image: url("../assets/bg-image-new-york.jpg");
  background-size: cover;
  background-position: center;
}
.banner .banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .banner__overlay .banner__content {
  text-align: center;
  color: #ffffff;
}
.banner .banner__overlay .banner__content .banner__logo svg {
  fill: #ffffff;
}
.banner .banner__overlay .banner__content .banner__title {
  font-size: 2.5em;
  margin-top: 10px;
  font-weight: 800;
  font-family: "Archivo", sans-serif;
}
.banner .banner__overlay .banner__content .banner__subtitle {
  font-size: 1em;
  margin-top: 10px;
}
.banner .banner__overlay .banner__content .banner__search-form {
  margin-top: 20px;
}
.banner .banner__overlay .banner__content .banner__search-form .banner__search-input {
  padding: 10px;
  width: 80%;
}
.banner .banner__overlay .banner__content .banner__search-form .banner__search-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}
.banner .banner__overlay .banner__content .banner__popular-searches {
  font-size: 0.8em;
  gap: 0.625rem;
  margin-top: 20px;
}
.banner .banner__overlay .banner__content .banner__popular-searches .banner__popular-title {
  font-size: 1.2em;
}
.banner .banner__overlay .banner__content .banner__popular-searches .banner__search-list {
  list-style: none;
  padding: 0;
}
.banner .banner__overlay .banner__content .banner__popular-searches .banner__search-list .banner__search-item {
  display: inline-block;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.banner .banner__overlay .banner__content .banner__popular-searches .banner__search-list .banner__search-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer {
  background-color: #121212;
  color: #d8d8d8;
  padding: 20px;
  text-align: center;
}
.footer .footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
.footer .footer__content .footer__logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #336aea;
}
.footer .footer__content .footer__description {
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
}
.footer .footer__content .footer__copyright {
  font-size: 0.8em;
  margin-top: 10px;
}/*# sourceMappingURL=styles.css.map */